.settings-icon{
    -fx-fill: white;
}
.settings-btn{
    -fx-background-color: #115ffa;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
}
.left-separator{
    -fx-bakground-color: rgb(255,255,255);
    -fx-border-color: rgb(255,255,255);
}
.btn{
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-text-fill: #000000;
}
.step-label{
    -fx-text-fill: #fff;
}