.settings-icon{
    -fx-fill: white;
}
.settings-btn{
    -fx-background-color: #115ffa;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
}
.left-separator{
    -fx-bakground-color: rgb(255,255,255);
    -fx-border-color: rgb(255,255,255);
}
.iroxxy-title{
    -fx-text-fill: #fff;
}
.iroxxy-details{
    -fx-text-fill: #fff;
}
.iroxxy-desc{
    -fx-text-fill: #bcc6e7;
}
.play-btn{
    -fx-background-color: #115ffa;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-text-fill: #fff;
}
.step-label{
    -fx-text-fill: #fff;
}